<div class="container mt-3 bg-secondary">
  <h2 class="text-center text-white">PDF Chatbot</h2>
  <div class="chat-container text-dark">
    <div *ngFor="let chat of chatHistory"
      [ngClass]="{'user-message': !chat.isChatbot, 'chatbot-message': chat.isChatbot}">
      {{ chat.message }}
    </div>
  </div>
  <div class="message-input-container">
    <button mat-mini-fab color="primary" (click)="handleButtonClick()">
      <mat-icon>add</mat-icon>
    </button>
    <input class="input-group-text" [(ngModel)]="message" placeholder="Type a message... Press ENTER" type="text"
      (keyup.enter)="onInputTypeChange('text')" />
    <button mat-mini-fab color="primary" (click)="onInputTypeChange('file')" [disabled]="loading">
      <ng-container *ngIf="!loading; else spinner">
        <i class="fa fa-paper-plane"></i>
      </ng-container>
      <ng-template #spinner>
        <i class="fa fa-spinner fa-spin"></i>
      </ng-template>
    </button>
  </div>

</div>

<input type="file" id="fileInput" style="display: none;" (change)="onFileSelected($event)" />